paper.pdf
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.thm
*.tgz
*.zip
*.rpi
*~
*.bcf
*.run.xml
.#*
\#*
.test_build
libpaper
*-arxiv
*.grammarly.txt
libpaper_metadata.tex
\**
~*
*.grammarly.*
paper.docx
paper.txt
*.fls # Latexmk build artifact
_minted*
*.fdb_latexmk
